doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet',href='/stylesheets/main.css')
    body
        div(class='mcontainer')
            div(class='site-nav')
                div(class='w')
                    ul(class='clearfix fl s-menu')
                        li
                            a 首页
                        li
                            a 网站导航
                        li
                            a 我的会员中心
                        li
                            a 空中服务
                        li
                            a 帮助
                    ul(class='clearfix fr s-right')
                        li(class='li-mes')
                            i(class='icon sprites-mes-icon mes')
                            div(class='drop-menu drop-menu-mes')
                                ul(class='clearfix mes-tip')
                                    li(class='mes-con curr')
                                div(class='mes-container clearfix')
                        li(class='li-login')
                            div(class='no-login')
                                i(class='icon sprites-login-icon')
                                a 登陆
                        li(class='li-login')
                            a 注册